main{
  width: 70%;
  margin: 0 auto;
  margin-top: 8%;

}
header{
  padding-left: 2rem;
  padding-top: 1rem;
  color: rgb(103, 103, 103);
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}
header span{
  font-size: 1.3rem;

}
p{
  font-size: .9rem;
}
a{
  text-decoration: none;
}
header .nav-link{
  color: rgb(103, 103, 103);
  padding: 0 0 .3rem 0;
  margin-right: 2rem;
}
